* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--color-bg);
  height: var(--app-height);
  width: 100%;
  overflow: hidden;
  font-family: var(--font-base);
  color: var(--color-fg);
}

html:focus-within {
  scroll-behavior: smooth;
}
