.ticker {
  width: 100%;
  max-width: var(--width-content);
  height: 3rem;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;

  font-family: var(--font-ui);
  font-size: var(--font-size-ticker);
  font-weight: var(--font-weight-ui);
}

.item {
  width: 100%;
  margin-top: 1rem;
  text-align: left;
  text-decoration: none;
  color: white;
}
