.ticker {
  width: 100%;
  max-width: var(--width-ticker);
  height: 4rem;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;

  text-align: left;
  font-family: var(--font-ticker);
  font-size: var(--font-size-ticker);
  font-weight: var(--font-weight-ticker);
}

.item {
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: inherit;
}
